
<!--Robert:Chestia ascunsa care nu se vede, si care ne usureaza de cod scris aproape la fel este contruirea dinamica a 
    url care returneaza obiectul json; construire facuta cu ajutorul unui parametru din url. IN/OUT
    -->

<!DOCTYPE html>
<html>

@Html.Partial("_Head");

<body>
    <div id="wrapper">

        @Html.Partial("_Navigation");

        @*Rox: Aici div class="collapse navbar-collapse navbar-ex1-collapse nu mai este in nav. Trebuie modificat in css*@
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a> <div id="jstree"></div></a>
                    </li>
                </ul>
            </div>


        <script src="~/Scripts/mobilities.jstree.js" type="text/javascript"></script>
        @RenderBody()      
    </div>

</body>
</html>
