
@{
    ViewBag.Title = "Persoane";
    Layout = "~/Views/Shared/_LayoutNoTreeMenu.cshtml";
}


<div id="page-wrapper">
    <h1 id="tipTabel">Participanti la mobilitati</h1>           
    <div id="jsGrids"></div>
</div>
<script type="text/javascript" src="~/Scripts/jstree.tables.js"> </script>
