
@{
    ViewBag.Title = "Mobilitati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Scriptul pt jstree este in Scripts/jstree.mobilties. Acesta va primi are un url care cere un obiect json, url creat cu ajutorul
    unui parametru din url paginii actuale, pentru a nu face 2 scripturi la fel, doar cu url diferite. Trebuie modificat in route-->
<!-- De lucrat la Scripts/jstree.mobilties si pus la url Mobilities/Intern/GETJSON -->


<div id="page-wrapper">
        <div class="container-fluid" style="height:900px;">
            

                
                    <h2>Studenti</h2>
                    <div id="jsGrids"></div>
             
                    <h2>Profesori</h2>
                    <div id="jsGridp"></div>
                
            

        </div>



        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="max-width:45%;">
                <div class="modal-content" id="myModalMobilitate">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Detalii mobilitate</h4>
                    </div>
                    <div class="modal-body"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <form class="form-horizontal">
                            <div class="form-group">

                                <label>Nume:</label>
                               
                                    <input type="text" readonly class="form-control" name="nume" >
                             
                                
                                <label>Prenume:</label>
                            
                                    <input type="text" readonly class="form-control"  name="prenume">
                               


                                <label>Institutia gazda:</label>
                            
                                    <input type="text" readonly class="form-control" value="Univ Bilbao" name="institutiaGazda">
                          
                         
                                <label>An mobilitate:</label>
                               <input type="text" readonly class="form-control"  name="anMobilitate">
                                



                                <label>Tip mobilitate:</label>
                                
                                    <input type="text" readonly class="form-control" name="tipMobilitate" >
                              
                                <label >Nivel mobilitate:</label>
                               
                                    <input type="text" readonly class="form-control" name="nivelMobilitate">
                           




                                <label>Data inceput:</label>
                             
                                    <input type="text" readonly class="form-control" typeof="date"  name="dataInceput">

                                
                                <label>Data final:</label>
                             
                                    <input type="text" readonly class="form-control" typeof="date" name="dataFinal">
                                

                                <label>Numar zile mobilitate:</label>
                               
                                    <input type="text" readonly class="form-control"  name="zileMobilitate">
                                
                                <label>Numar luni mobilitate:</label>
                                
                                    <input type="text" readonly class="form-control"  name="luniMobilitate">
                               


                                <label>Grant mobilitate:</label>
                                
                                    <input type="text" readonly class="form-control"  name="grantMobilitate">
                                
                             

                                
                                    
                               
                             
                                    @*<button class="btn btn-danger">Sterge m</button>*@
                              
                               
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/mobilities.jsgrid.js" type="text/javascript"></script>
