
@{
    ViewBag.Title = "Mobilitati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Scriptul pt jstree este in Scripts/jstree.mobilties. Acesta va primi are un url care cere un obiect json, url creat cu ajutorul
    unui parametru din url paginii actuale, pentru a nu face 2 scripturi la fel, doar cu url diferite. Trebuie modificat in route-->
<!-- De lucrat la Scripts/jstree.mobilties si pus la url Mobilities/Intern/GETJSON -->


<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <h2>Studenti</h2>
                    <div id="jsGrids"></div>
                </div>
                <div class="col-lg-6">
                    <h2>Profesori</h2>
                    <div id="jsGridp"></div>
                </div>
            </div>

        </div>



        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width:45%;">
                <div class="modal-content" id="myModalMobilitate">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Detalii mobilitate</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">

                                <label class="control-label col-sm-3" for="email">Nume:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="nume" >
                                </div>
                                <div class="col-sm-1"></div>
                                <label class="control-label col-sm-2" for="email" >Prenume:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  name="prenume">
                                </div>


                                <label class="control-label col-sm-3" for="email">Institutia gazda:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="Univ Bilbao" name="institutiaGazda">
                                </div>
                                <div class="col-sm-1"></div>
                                <label class="control-label col-sm-2" for="email">An mobilitate:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  name="anMobilitate">
                                </div>



                                <label class="control-label col-sm-3" for="email">Tip mobilitate:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="tipMobilitate" >
                                </div>
                                <label class="control-label col-sm-3" for="email">Nivel mobilitate:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="nivelMobilitate">
                                </div>




                                <label class="control-label col-sm-3" for="email">Data inceput:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" typeof="date"  name="dataInceput">
                                </div>
                                <div class="col-sm-1"></div>
                                <label class="control-label col-sm-2" for="email">Data final:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" typeof="date" name="dataFinal">
                                </div>

                                <label class="control-label col-sm-3" for="email">Numar zile mobilitate:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  name="zileMobilitate">
                                </div>
                                <label class="control-label col-sm-3" for="email">Numar luni mobilitate:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  name="luniMobilitate">
                                </div>


                                <label class="control-label col-sm-3" for="email">Grant mobilitate:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  name="grantMobilitate">
                                </div>
                                <div class="col-sm-2"></div>
                                <br>
                                <br>

                                <div class="col-sm-2"></div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-success">Salveaza modificarile</button>
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-danger">Sterge modificarile</button>
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/mobilities.jsgrid.js" type="text/javascript"></script>
