@{
    ViewBag.Title = "Erasmus page";
}
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <p style="padding-left: 20%; padding-right: 20%">
                    <button type="button" class="btn btn-lg btn-success">SMS: 6</button>
                    <button type="button" class="btn btn-lg btn-primary">SMP: 25</button>
                    <button type="button" class="btn btn-lg btn-danger">SM: 31</button>
                    <button type="button" class="btn btn-lg btn-success">STA: 2</button>
                    <button type="button" class="btn btn-lg btn-warning">STT: 3</button>
                    <button type="button" class="btn btn-lg btn-danger">ST: 5</button>
                    <button type="button" class="btn btn-lg btn-primary">SOM: 6</button>
                    <button type="button" class="btn btn-lg btn-danger">MOB: 42</button>


           
                </p>
                <div class="row">

                    <div class="col-lg-5">
                        <h2>Studenti</h2>
                        <div id="jsGrids"></div>
                    </div>
                    <div class="col-lg-2"> </div>
                    <div class="col-lg-5">
                        <h2>Profesori</h2>
                        <div id="jsGridp"></div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

            <!--detailsmodal-->
            

           

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog" style="width:45%;">
                    <div class="modal-content" id="myModalParticipant">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Detalii particiant</h4>
                        </div>
                        <div class="modal-body" >

                            <div class="row">

                                <div class="col-lg-6"> <h4>Nume: </h4>Unc</div>
                                <div class="col-lg-6"> <h4>Prenume: </h4>Roxana Larisa</div>

                            </div>
                            <div class="row">

                                <div class="col-lg-6"> <h4>Gen: </h4>F</div>
                                <div class="col-lg-6"> <h4>Departament: </h4>E2</div>

                            </div>

                            <h4>Mobilitati</h4>
                            <p>
                                <button type="button" class="btn btn-lg btn-success">SMS: 6</button>
                                <button type="button" class="btn btn-lg btn-primary">SMP: 25</button>
                                <button type="button" class="btn btn-lg btn-danger">SM: 31</button>
                                <button type="button" class="btn btn-lg btn-success">STA: 2</button>
                                <button type="button" class="btn btn-lg btn-warning">STT: 3</button>
                                <button type="button" class="btn btn-lg btn-danger">ST: 5</button>
                                <button type="button" class="btn btn-lg btn-primary">SOM: 6</button>
                                <button type="button" class="btn btn-lg btn-danger">MOB: 42</button>



                            </p>
                            <div id="jsGridm"></div>


                        </div>


                       
                    </div>
                    <!--MobilitateModal-->>

                    <div class="modal-content" id="myModalMobilitate">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Detalii mobilitate</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">

                                    <label class="control-label col-sm-3" for="email">Nume:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control"  value="Unc" >
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <label class="control-label col-sm-2" for="email">Prenume:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="Roxana Larisa" name="pwd">
                                    </div>


                                    <label class="control-label col-sm-3" for="email">Institutia gazda:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="Univ Bilbao" name="pwd">
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <label class="control-label col-sm-2" for="email">An mobilitate:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="2016" name="pwd">
                                    </div>



                                    <label class="control-label col-sm-3" for="email">Tip mobilitate:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="SMP">
                                    </div>
                                    <label class="control-label col-sm-3" for="email">Nivel mobilitate:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="M" name="pwd">
                                    </div>


                                 
                                    
                                    <label class="control-label col-sm-3" for="email">Data inceput:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="01.09.2016" name="pwd">
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <label class="control-label col-sm-2" for="email">Data final:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="01.12.2016" name="pwd">
                                    </div>

                                    <label class="control-label col-sm-3" for="email">Numar zile mobilitate:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="92" name="pwd">
                                    </div>                                
                                    <label class="control-label col-sm-3" for="email">Numar luni mobilitate:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="3.066" name="pwd">
                                    </div>


                                    <label class="control-label col-sm-3" for="email">Grant mobilitate:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="2100 euro" name="pwd">
                                    </div>
                                    <div class="col-sm-2"></div>
                                        <br>
                                        <br>

                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-success">Salveaza modificarile</button>
                                        </div>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-danger">Sterge modificarile</button>
                                        </div>
                                        <div class="col-sm-2">
                                        </div>
                                    </div>
                                
                
                            </form>
                            

                        <div class="modal-footer">
                            <button type="button" id="backFromModalMobilitate" class="btn btn-default" >Inapoi</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>


     
          
        





    <script>
        $("#backFromModalMobilitate").click(function () {
            $('#myModalParticipant').show();
            $('#myModalMobilitate').hide();
          
        });
   
            var clients = [
                { "ID": 0, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 1, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 2, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 3, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 4, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 5, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 6, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 7, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 8, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 9, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 10, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 11, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 12, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 13, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 14, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
                { "ID": 15, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Nume si prenume": "Ionescu Alexandru Damian" },
            ];
            var mobilitati = [
              { "ID": 0, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
              { "ID": 1, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
              { "ID": 2, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
              { "ID": 3, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
              { "ID": 4, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
              { "ID": 5, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
              { "ID": 6, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
              { "ID": 7, "An": 2005, "Tip mobilitate": 1, "Nivel": 3, "Institutia gazda": "Univ Bilbao" },
        
            ];

            var tip = [
                { Name: "", Id: 0 },
                { Name: "SMS", Id: 1 },
                { Name: "SMP", Id: 2 },
                { Name: "STA", Id: 3 },
                { Name: "STT", Id: 4 },
                { Name: "SOM", Id: 5 },


            ];
            var nivel = [
                { Name: "", Id: 0 },
                { Name: "L", Id: 1 },
                { Name: "M", Id: 2 },
                { Name: "D", Id: 3 },
                { Name: "P", Id: 4 },
                { Name: "A", I5: 5 },
            ];

            $("#jsGrids").jsGrid({
                width: "100%",
                height: "750px",

                filtering: true,
                inserting: true,
                selecting: true,
                editing: true,
                sorting: true,
                paging: true,
                pageSize: 15,


                deleteConfirm: "Do you really want to delete the client?",
                data: clients,

                fields: [
                    { name: "ID", type: "number", width: 70, validate: "required" },
                    { name: "An", type: "number", width: 70, validate: "required" },
                    { name: "Tip mobilitate", type: "select", items: tip, valueField: "Id", textField: "Name" },
                    { name: "Nivel", type: "select", items: nivel, valueField: "Id", textField: "Name" },
                    { name: "Nume si prenume", type: "texts", width: 150, validate: "required" },
                    {
                        type: "control", width: 150,
                        itemTemplate: function (value, item) {
                            var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                            var $customButton = $("<button>")
                                .text("Detalii")
                             
                                .click(function (e) {
                                    $('#myModalMobilitate').hide();
                                    $('#myModal').modal('show');
                                    $('#myModalParticipant').show();
                                    e.stopPropagation();
                                });

                            return $result.add($customButton);
                        }
                    }
                ]
            });


            $("#jsGridm").jsGrid({
                width: "100%",
                height: "400px",

                filtering: true,
                inserting: true,
                selecting: true,
                editing: true,
                sorting: true,
                paging: true,
                pageSize: 5,


                deleteConfirm: "Do you really want to delete the client?",
                data: mobilitati,

                fields: [
                    { name: "ID", type: "number", width: 70, validate: "required" },
                    { name: "An", type: "number", width: 70, validate: "required" },
                    { name: "Tip mobilitate", type: "select", items: tip, valueField: "Id", textField: "Name" },
                    { name: "Nivel", type: "select", items: nivel, valueField: "Id", textField: "Name" },
                    { name: "Institutia gazda", type: "number", width: 150, validate: "required" },
                    {
                        type: "control", width: 150,
                        itemTemplate: function (value, item) {
                            var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                            var $customButton = $("<button>")
                                .text("Detalii")

                                .click(function (e) {
                                    $('#myModalMobilitate').show();
                                    $('#myModalParticipant').hide();
                                     
                                    e.stopPropagation();
                                });

                            return $result.add($customButton);
                        }
                    }
                ]
            });

            $("#jsGridp").jsGrid({
                width: "100%",
                height: "750px",
                filtering: true,
                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                pageSize: 15,


                deleteConfirm: "Do you really want to delete the client?",
                data: clients,


                fields: [
                    { name: "ID", type: "number", width: 70, validate: "required" },
                    { name: "An", type: "number", width: 70, validate: "required" },
                    { name: "Tip mobilitate", type: "select", items: tip, valueField: "Id", textField: "Name" },

                    { name: "Nume si prenume", type: "number", width: 150, validate: "required" },
                    {
                        type: "control", width: 150,
                        itemTemplate: function (value, item) {
                            var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                            var $customButton = $("<button>")
                                .text("Detalii")
                                .click(function (e) {
                                    $('#myModal').modal('show');
                                    $('#myModalMobilitate').hide();
                                    $('#myModalParticipant').show();
                                    e.stopPropagation();
                                });

                            return $result.add($customButton);
                        }
                    }
                ]
            });
        
    </script>
