@{
    ViewBag.Title = "Erasmus page";
}
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <p style="padding-left: 20%; padding-right: 20%">
                    <button type="button" class="btn btn-lg btn-success">SMS: 6</button>
                    <button type="button" class="btn btn-lg btn-primary">SMP: 25</button>
                    <button type="button" class="btn btn-lg btn-danger">SM: 31</button>
                    <button type="button" class="btn btn-lg btn-success">STA: 2</button>
                    <button type="button" class="btn btn-lg btn-warning">STT: 3</button>
                    <button type="button" class="btn btn-lg btn-danger">ST: 5</button>
                    <button type="button" class="btn btn-lg btn-primary">SOM: 6</button>
                    <button type="button" class="btn btn-lg btn-danger">MOB: 42</button>

                </p>
                <div class="row">

                    <div class="col-lg-5">
                        <h2>Studenti</h2>
                        <div id="jsGrids"></div>
                    </div>
                    <div class="col-lg-2"> </div>
                    <div class="col-lg-5">
                        <h2>Profesori</h2>
                        <div id="jsGridp"></div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
