@{
    ViewBag.Title = "Login page";
    Layout = "~/Views/Shared/_LayoutNoTreeMenu.cshtml";
}

<div class="container-fluid">
    <div class="h-100 row align-items-center">
        <div class="col-lg-5">
            <img src="~/Content/images/Logo.png" class="img-responsive" alt="Logo">

        </div>
        <div class="col-lg-2"></div>

       
            <div class="col-lg-5 align-items-center">
                <div class="container">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input class="form-control" id="exampleInputEmail1"  name="username" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input class="form-control" id="exampleInputPassword1" name="passwordHash" type="password" placeholder="Password">
                                </div>
                               
                                <input class="btn btn-primary btn-block" type="submit" value="Login">
                            </form>
                            @*<div class="text-center">
                                <a class="d-block small mt-3" href="register.html">Register an Account</a>
                                <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
    
</div>
</div>