@{
    ViewBag.Title = "Erasmus page";

    Layout = "~/Views/Shared/_LayoutNoTreeMenu.cshtml";
}

<div id="page-wrapper">

    <img src="~/Content/images/Logo.jpg" class="img-responsive" alt="Logo">

</div>



    <!--Pagina de logare-->
